name = "util"
uuid = "ae7ceb24-1c7b-4943-a815-1295680e16a5"
authors = ["Custards1 <swagyolamos@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
